<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Dispatcher</display-name>
  <welcome-file-list>
    <welcome-file>Login.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.login.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreditServlet</display-name>
    <servlet-name>CreditServlet</servlet-name>
    <servlet-class>com.credit.CreditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreditServlet</servlet-name>
    <url-pattern>/CreditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DebitServlet</display-name>
    <servlet-name>DebitServlet</servlet-name>
    <servlet-class>com.debit.DebitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DebitServlet</servlet-name>
    <url-pattern>/DebitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Redirect</display-name>
    <servlet-name>Redirect</servlet-name>
    <servlet-class>com.redirect.Redirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Redirect</servlet-name>
    <url-pattern>/Redirect</url-pattern>
  </servlet-mapping>
</web-app>